@page
@model VolleyballWebApp.Pages.CalculatorModel
@{
}


<p>This a calculator</p>


<form method="post">

    <label for="Number1">Number1</label>
    <input id="Number1" name="Number1" />
    </br>
    <label for="Number2">Number2</label>
    <input id="Number2" name="Number2" />
    </br>

    <button type="submit"> Calculate</button>

    <p> @Model.Result</p>

    



</form>
